/* CSS Document*/
body{
	margin: 0 0 0% 24%;
	font: 14px Tahoma, sans-serif;
	width: 50%;
}


fieldset
{

margin: 0;

border: 2px solid #000;

background: #FFF;

border-radius: 10px;

/*background:-webkit-gradient(linear,left bottom, left top,color-stop(1,#C0C0C0), color-stop(0,#FBE080));
	background: -moz-linear-gradient(center bottom, #C0C0C0 100%, #FBE080 0%);*/

-moz-border-radius: 10px;

-webkit-border-radius: 10px;
}

legend{
	color:#000;
	background: #e9efeb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	font-weight:bold;
	text-align:left;
	padding:5px;
	margin:0;
	border: 2px solid #39b765;
	border-radius: 50% 35%;
	box-shadow: 0 0 .5em rgba(0,0,0,.8);
	-moz-border-radius: 50% 35%;
	-webkit-border-radius: 50% 35%;
	-moz-box-shadow: 0 0 .5em rgba(0,0,0,.8);
	-webkit-box-shadow: 0 0 .5em rgba(0,0,0,.8);
}
label{
	display: block;
	float:left;
	clear:left;
	text-aling:right;
	width:40%;
	padding:.4em 0 0 0;
	margin:.15em .5em 0 0;
}
input,select, textarea{
	display: block;
	width:50%;
	padding:.4em;
	margin:0;
}
input,textarea,.date{
	border:2px solid #eae1c0;
	border-radius:5px;
	box-shadow:rgba(0,0,0,.5) 1px 1px 1px 1px inset;
	background:#fff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow:rgba(0,0,0,.5) 1px 1px 1px 1px inset;
	-webkit-box-shadow: rgba(0,0,0,.5) 1px 1px 1px 1px inset;
}

input[type="checkbox"] ,input[type="radio"] {
    display:block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
	float:right;
	clear:right;
    vertical-align:middle;
    cursor:pointer;
}
input{
	font-size:.9em;
}
select{
	padding:0;
	margin-bottom:2.5em;
	position:relative;
	top:.7em;
}
textarea{
	font-family:"Trebuchet MS",Arial,Helvetica,san-serif;
	font-size:.9em;
	height:5em;
}
form *:focus{
	border:2px solid #593131;
	outline:none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
input:valid,textarea:valid{
	background:#efe;
}
input[type="submit"]{
	margin:50px auto 0 auto;
	width:12em;
	padding:10px;
	border:2px solid #593131;
	color:#fff;
	background:#593131;
	font-size:1.2em;
	font-weight:bold;
	-moz-box-shadow:0 0 .5em rgba(0,0,0,.8);
	-webkit-box-shadow:0 0 .5em rgba(0,0,0,.8);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-webkit-appearance:none;
}
input[type="submit"]:hover,input[type=submit]:active{
	cursor:pointer;
	background:#fff;
	color:#593131;
}
input[type="submit"]:active{
	background:#eee;
	box-shadow:0 0 .5em rgba(0,0,0,.8) inset;
	-moz-box-shadow:0 0 .5em rgba(0,0,0,.8) inset;
	-webkit-box-shadow:0 0 .5em rgba(0,0,0,.8) inset;
}
